accelerate
aiofiles
aiohttp
aiohttp_cors
nanoid
git+https://github.com/huggingface/diffusers
huggingface-hub
transformers
safetensors
protobuf
sentencepiece
einops
kornia
imageio
imageio-ffmpeg
peft
scipy
torch
torchsde
torchvision
ftfy
